.countries {
  text-align: center;
  ul {
    display: flex;
    flex-wrap: wrap;

    .card {
      position: relative;
      height: 100px;
      width: 160px;
      border-radius: 4px;
      transition: 0.3s;

      h2 {
        font-size: 1rem;
      }

      &:hover {
        transform: scale(1.2);
        z-index: 2;
      }

      &:hover .infos {
        opacity: 1;
        transform: scaleY(1);
      }

      .infos {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        color: $white;
        height: 100%;
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        opacity: 0;
        transform: scaleY(0);
        transition: 0.3s;
      }
      img {
        height: 100px;
        width: 160px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
  .radio-container {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background: $color-3;
    border-radius: 20px;
    padding: 10px;
    color: $white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);

    input {
      transform: translateY(1px);
    }

    label {
      margin-left: 10px;
      cursor: pointer;
    }
  }
  input[type="text"] {
    padding: 10px;
    border-radius: 40px;
    font-size: 1.3rem;
    border: 3px solid $color-1;
    outline: none;
    transition: 0.4s;
    text-align: center;
    width: 400px;
    margin-bottom: 20px;

    &:focus {
      background: $color-1;
      border-radius: 4px;
      color: $white;
    }
  }
  input[type="range"] {
    width: 80%;
  }
}
